/*sharp and modern */

$electricGreen : #3cc47c;
$ForestGreen : #1E392A;
$lightYellow : #e9c893;
$tinGrey : #828081;

/* warm tones */
$grain : #d7cec7;
$blackboard: #565656;
$oxblood: #76323f;
$tan : #c09f80;
$fontcolor:#93a4aa;