.about {
    padding: 4% 0;
    /* text-align: center; */

    &__content p {
        font-style:normal;
        font-size:1.2em;
        line-height:1.4;
        font-weight:300;
        /* color: $blackboard; */
        letter-spacing: .03em;
        margin:10px auto;
        padding: 2% 0;
        
        
        @mixin atSmall {
            font-size:1.4em;
            line-height: 1.5;
        }

    }


}