.about {
    padding: 4% 0;
    

    &__content p{
        text-align: left;
        font-style:normal;
        font-size:1.2em;
        line-height:1.4;
        font-weight:300;
        /* color: $blackboard; */
        letter-spacing: .03em;
        margin:4% auto;
        padding-top: 1%;
        
        
        @mixin atSmall {
            font-size:1.4em;
            line-height: 1.5;
        }

    }


}