.site-header {

    background-color: $blackboard;
    padding: 60px;

    @mixin atMedium {
        background:
        linear-gradient(
            rgba($blackboard,1.0),
            rgba($blackboard,0.50)
            ),
            /* bottom, image */
            url('../../assets/images/labtop.jpg');
            background-size: cover;
            background-position: center top;
            /* width: 100%; */
        }

    &--logo {
        position : absolute;
        margin-left: 38%;
        /* padding-bottom:20%; */
        text-align: center;
    }    
            

    &--intro {
        max-width:960px;
        margin:0 auto;
        padding: 12% 0;
    }

    &--intro h1 {
        font-size: 1.5em;
        font-weight: 100;
        text-align:center;
        color: #fff;
        /* text-transform: uppercase; */
        /* letter-spacing: 0.1em; */
        line-height: 1.5em;
        margin-bottom: 0;
        
        @mixin atMedium {
            font-size: 3em;
        }
    }
    
    &--intro h2 {
        font-size:.8em;
        text-align: center;
        color: #fff;
        font-weight:300;
        /* text-transform:capitalize; */
        margin-top: 0;
        margin-bottom: 40px;

        @mixin atMedium {
            font-size:1.5em;
        }
    }


}