.skills {
    margin: auto;

    @mixin atMedium {
        &--half-at-med {
            width:50%;
            float:left;
        }

    }
    

    &--skillBar {
        color: #fff;
        height: 50px;
        position: relative;
        background: $grain;
        margin: 20px;

        &--html {
            width: 80%;
            animation: Animate-HTML 4s;
            -webkit-animation: Animate-HTML 4s;
            -moz-animation: Animate-HTML 4s;
            -o-animation: Animate-HTML 4s;
            height: 50px;
            position: absolute;
            background-color: #ea8564;
        }
    }
}