.work {
    
    height: 350px;
    padding: 2% 0;

    @mixin atSmall {
        height: 390px;

    }


    &__image-area {
        float:left;
        width:100%;
        height:auto;

       

 
        @mixin atMedium {
            width:50%;
            height:350px;
            overflow:hidden;

            &--left{
                float:left;
            }
            
            
            &--right{
                float:right;
            }
        }
        
        @mixin atLarge {
            
            width:50%;
            height:300px;
            overflow: hidden;
            
          
        }
    }

}