.work {
    
    height: 350px;
    padding: 4% 0;

    &__container{
        padding:20px;
    }

    @mixin atSmall {
        height: 310px;

    }

    @mixin atMedium {
        /* height: 350px; */
    }
    @mixin atLarge {
        height: 350px;
    }


    &__image-area {
        float:left;
        width:100%;
        height:auto%;

       
        @mixin atSmall {
            height:100%;
        }
 
        @mixin atMedium {
            /* height:100%; */
            width:50%;
            overflow:hidden;

            &--left{
                float:left;
            }
            
            
            &--right{
                float:right;
            }
        }
        
        @mixin atLarge {
            
            width:50%;
            /* height:100%; */
            overflow: hidden;
            
          
        }
    }

}