.wrapper {

    max-width: 350px;
    margin: 0 auto;
    text-align: center;

    @mixin atSmall {
        max-width:500px;
    }


    @mixin atMedium {
        max-width: 700px;
    }

    @mixin atLarge {
        max-width: 960px;
    }
}