.wrapper {

    max-width: 350px;
    margin: 0 auto;
    text-align: center;

    @mixin atSmall {
        max-width:490px;
    }


    @mixin atMedium {
        max-width: 650px;
    }

    @mixin atLarge {
        max-width: 720px;
    }
}